@use "bulma-defaults" as *;
@use "variables" as *;
@use "sass:color";

/* ==========================================================================
   Dark Mode Theme Overrides
   ========================================================================== */
.dark-mode {
  /* Theme Tokens --------------------------------------------------------- */
  --swv-button-background-color: black !important;
  --swv-button-outline-color: white !important;
  --swv-button-hover-background-color: #cbcbcb !important;
  // --swv-button-text-color: black !important;
  --status-success-color: #{$success};
  --status-info-color: #{$info};
  --status-warning-color: #{$warning};
  --status-danger-color: #{$danger};
  --status-dark-color: #{$grey-light};


  /* Layout & Surfaces ---------------------------------------------------- */
  body:not(.light-mode) {
    background-color: $body-background-color-dark;
  }

  .light-only {
    display: none;
  }

  .sidebar {
    box-shadow: 0px 6px 40px 0px rgba(255, 255, 255, 0.02) !important;
  }

  .sidebar:not(.light-mode) {
    background-color: $black-bis !important;
  }

  .has-background-body:not(.light-mode) {
    background-color: $body-background-color-dark !important;
  }

  .has-background-white:not(.light-mode) {
    background-color: $black !important;
  }

  .has-background-light:not(.light-mode) {
    background-color: $black-ter !important;
  }

  .has-background-white-ter:not(.light-mode) {
    background-color: $black-ter !important;
  }

  .has-background-white-bis:not(.light-mode) {
    background-color: $black-bis !important;
  }

  .has-background-black:not(.light-mode) {
    background-color: $white !important;
  }

  .box:not(.light-mode) {
    background-color: $black-bis;
    color: white;
  }

  .box {
    background-color: $box-background-color-dark;
  }


  .tag {
    background-color: $black-ter !important;

    &:not(.is-outlined) span {
      color: white;
    }
  }

  .tag.is-success {
    background-color: $black-ter !important;
  }

  .title:not(.light-mode) {
    color: white;
  }

  .footer:not(.light-mode) {
    background-color: $body-background-color-dark;
    color: white;
  }


  /* Text Utilities ------------------------------------------------------- */
  .has-text-white:not(.light-mode) {
    color: $black !important;
  }

  .has-text-black:not(.light-mode) {
    color: $white !important;
  }

  a.has-text-black:hover:not(.light-mode) {
    color: $grey-light !important;
  }

  /* Navigation ----------------------------------------------------------- */
  .navbar:not(.light-mode) {
    background: $black;

    .navbar-burger {
      color: $white;
    }

    &.has-shadow {
      box-shadow: 0 2px 0 0 $grey-dark;
    }
  }

  .pagination-previous,
  .pagination-next,
  .pagination-link {
    color: $white;

    &.is-current {
      color: $text;
    }
  }

  .tabs:not(.light-mode) {
    ul {
      border-bottom: 3px solid $grey-darker;
    }

    li.is-active a {
      border-bottom-color: $grey;
      border-color: $grey;
      color: $primary-invert;
      background-color: $black-bis;
    }

    a {
      color: $grey;
      border-bottom-width: 3px;
      border-bottom-color: transparent;
      margin-bottom: -3px;

      &:hover {
        color: $grey-light;
        border-bottom-color: $grey;
        background-color: $black-ter;
      }
    }
  }



  .button.is-outlined {
    &.is-primary {
      background-color: transparent;
      border-color: $white;
      color: $white;
      
      &:hover,
      &.is-hovered {
        background-color: $white !important;
        color: $black !important;
        border-color: $white !important;
      }
    }
    
    &.is-success {
      &:hover,
      &.is-hovered {
        background-color: $success !important;
        color: $black !important;
        border-color: $success !important;
      }
    }
    
    &.is-info {
      &:hover,
      &.is-hovered {
        background-color: $info !important;
        color: $white !important;
        border-color: $info !important;
      }
    }
    
    &.is-warning {
      &:hover,
      &.is-hovered {
        background-color: $warning !important;
        color: $black !important;
        border-color: $warning !important;
      }
    }
    
    &.is-danger {
      &:hover,
      &.is-hovered {
        background-color: $danger !important;
        color: $white !important;
        border-color: $danger !important;
      }
    }
    
    &.is-dark {
      border-color: $grey-light;
      color: $grey-light;
      
      &:hover,
      &.is-hovered {
        background-color: $grey-light !important;
        color: $black !important;
        border-color: $grey-light !important;
      }
    }
  }


  .button:not(.light-mode) {
    &.is-dark {
      &.is-outlined {
        color: $light;
      }
    }

    &.is-text {
      color: $white;

      &:hover {
        background-color: $black-ter;
      }
    }

    &.is-primary {
      background-color: $primary-invert;
      color: $primary;

      &.is-outlined {
        background-color: transparent;
        border-color: $primary-invert;
        color: $primary-invert;

        &:hover {
          background-color: $primary-invert;
          border-color: $primary-invert;
          color: $primary;
        }
      }
    }
  }

  /* Forms & Inputs ------------------------------------------------------- */
  .input:not(.light-mode) {
    background-color: $grey-darker;
    border-color: $black-bis;
    color: white;

    &::placeholder {
      color: $grey;
    }
  }

  .select:not(.light-mode) select {
    background-color: $grey-darker;
    border-color: $black-ter;
    color: white;
  }


  /* Dropdowns & Menus ---------------------------------------------------- */
  .dropdown-menu {
    .dropdown-content {
      background: $black-ter;
      border-color: $grey-dark;
    }

    .dropdown-item {
      color: $grey-light;

      svg {
        color: inherit;
      }

      img[src$=".svg"] {
        filter: brightness(0) saturate(100%) invert(88%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(88%);
      }

      &:hover {
        background: $grey-darker;
        color: $white;
      }
    }

    .dropdown-divider {
      background-color: $grey-dark;
    }
  }

  .menu-list:not(.light-mode) {
    a {
      color: $grey-lighter;

      &:hover {
        background-color: $grey-darker;
      }

      &.is-active {
        background-color: $grey-darker;
        color: $grey;
      }
    }
  }

  /* Tables & Lists ------------------------------------------------------- */
  .table:not(.light-mode) {
    color: $white;
    background-color: $black-bis;

    thead th {
      color: $white;
    }

    td,
    th {
      border-color: $grey-dark;
      color: $white;

      strong {
        color: $white;
      }
    }

    &.is-hoverable {
      tbody {
        tr:not(.is-selected) {
          &:hover {
            background-color: $black-ter !important;
          }
        }
      }
    }

    &.is-striped {
      tbody {
        tr:not(.is-selected) {
          &:nth-child(even) {
            background-color: color.adjust($black-ter, $lightness: -3%);
          }
        }
      }
    }

    .has-text-white {
      color: $white !important;
    }
  }


  .progress {
    &:indeterminate {
      background-color: $black-ter;
    }

    &.is-info:indeterminate {
      background-image: linear-gradient(
        to right,
        hsl(207, 61%, 53%) 30%,
        $black-ter 30%
      );
    }
  }

  .icon.has-tooltip-arrow {
    color: #b5b5b5;

    &:hover {
      color: #f5f5f5;
    }
  }


  /* Modals & Overlays ---------------------------------------------------- */
  .modal-card-head:not(.light-mode) {
    background-color: $black-bis;
    border-bottom-color: $grey-darker;

    .modal-card-title strong {
      color: $white !important;
    }
  }

  .modal-card-body:not(.light-mode) {
    background-color: $black-bis;
    color: $white;

    .has-text-black {
      color: $white !important;
    }

    .has-text-weight-bold {
      color: $white !important;
    }

    .button.has-background-white-ter {
      background-color: $black-ter !important;

      &:hover {
        background-color: $grey-darker !important;

        strong,
        .has-text-weight-bold {
          color: $secondary !important;
        }
      }

      strong,
      .has-text-weight-bold {
        color: $white !important;
      }
    }

    .dropdown-item {
      &:hover {
        background-color: $grey-darker;

        strong,
        .has-text-weight-bold {
          color: $secondary !important;
        }
      }

      strong,
      .has-text-weight-bold {
        color: $white !important;
      }
    }

    .dropdown-content {
      background-color: $black-ter;
    }

    .icon.is-medium {
      &[style*="background: black"] {
        background: white !important;
      }
    }
  }

  .modal-card-foot:not(.light-mode) {
    background-color: $black-bis;
    border-top-color: $grey-darker;
  }

  .modal-card-title:not(.light-mode) {
    color: $white;
  }

  .delete:not(.light-mode) {
    background-color: rgba($white, 0.2);

    &:hover {
      background-color: rgba($white, 0.3);
    }
  }


  .spinner-bg {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }

}